<% @tasks.each do  |task|%>
<p><%= link_to task.title, task_path(task) %></p>
<%= link_to task_path(task.id), method: :delete do %>
<i class="fa fa-trash-o"></i>
<% end %>
<% end %>

<p><%= link_to "Crear nueva tarea", new_task_path %></p>
